extends layout

block content

  header
    h1 Important Bitcoin Information
    //-h2
      i &ldquo;How many Big Macs can you buy with 1 bitcoin?&rdquo; - Socrates
        </h2>

  main
    //-ul
      li
    h2
      a(href="/bigmac") How many Big Macs can you buy with 1 Bitcoin?